@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
} 
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/cuprum.woff2") format("woff2");
}
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/cuprumbold.woff2") format("woff2");
}
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
}
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/cuprumitalic.woff2") format("woff2");
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
    word-wrap: break-word;
    margin: 0;
}
.page-header {
    width: 100%;
    background-color: #F1F5F7;
}
.navigation-user {
    background-color: #293449;
}
.navigation-user-wrapper,
.navigation-main,
.navigation-menu {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.user-list,
.menu-list {
    display: flex;
}


.page-footer {
    width: 100%;
    background-color: #293449;
    padding-left: 130px;
    padding-right: 130px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}